@font-face {
  font-family:RWFont;
  src:url(https://file.garden/Zlk30agh4hF11eOU/rain-world-menu.woff2);
}

* {
	scrollbar-color:white black;
}
*::-webkit-scrollbar-thumb {
	background-color:white;
}
*::-webkit-scrollbar-track {
	background-color:black;
}

#background {
	background-color:black;
}
#top_banner {
	display:none;
}
#input {
	color:whitesmoke;
	background-color:black;
	border-radius:0;
}
#input:empty::before {
	color:whitesmoke;
	font-family:RWFont;
}
a {
	color:#1A7461;
}
.msgBody {
	color:whitesmoke;
}
.senderInfo {
	color:#1A7461;
}
.allMessages {
	border:3px solid whitesmoke;
	border-radius:10px;
	margin:10px 0px;
	font-family:RWFont;
}
.highlight{
	color:#1A7461;
	background-color:whitesmoke;
}
#timestamp {
	color:whitesmoke;
	font-family:RWFont;
}
#settings {
	background-color:#1A7461;
	border-radius:5px;
	padding:5px;
}
#settingsWindow {
	background-color:grey;
}
#loadMore {
	color:whitesmoke;
}
.owner {
	margin-right:3px;
	background-color:#1A7461;
}