
.upper{
	text-transform:uppercase;
}
.default{
	font-size:20px;
}
.defaultLink{
	text-decoration:none;
	font-size:20px;
}
body{
	color:white;
	background-color:black;
}
h1{
	font-size: 35px;
}
#all{
	text-align:center;
	position:absolute;
	width:330px;
	height:180px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
}

