@font-face{
	font-family:RWFont;
	src:url(https://file.garden/Zlk30agh4hF11eOU/rain-world-menu.woff2);
}
@font-face{
	font-family:VCR_OSD;
	src:url(https://file.garden/Zlk30agh4hF11eOU/VCR_OSD_MONO.woff2);
}
* {
	scrollbar-color: white black;
}
*::-webkit-scrollbar-thumb {
	background-color: white;
}
*::-webkit-scrollbar-track {
	background-color: black;
}

body{
	background-size: cover;
	background-color:black;
	margin: 10px 2%;
	color:red;
	font-family:RWFont;
	overflow-x:hidden;
	overflow-y:scroll;
	font-size:20px;
	image-rendering: pixelated;
}
body:before {
	content: "";
	position: fixed;
	opacity: .5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(resources/overlay.png);
	background-repeat: repeat;
	background-position: 0 0;
	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}
body::after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(resources/overlay2.png);
	background-repeat: repeat;
	background-position: 0 0;
	animation-name: Static;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}
@keyframes Static{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 4px;
	}
}
header{
	display:inline-block;
}
h1{
	font-size:45px;
	font-family:VCR_OSD;
	margin:20px 10px;
	text-shadow:2px 2px darkred;
}
.navlink{
	color:red;
	text-decoration:none;
	padding:10px 15px;
	text-shadow:2px 2px darkred;
}
.navlink:hover{
	background-color:red;
	color:whitesmoke;
}
h2{
	text-shadow:2px 2px darkred;
}
section{
	margin:15px;
}
#statuscafe {
    padding:20px;
    background-color:black;
    border: 3px solid whitesmoke;
}
#statuscafe-username {
    margin-bottom:10px;
}
#statuscafe-content {
    margin:10px;
	color:whitesmoke;
}
#minityphnol{
	position:relative;
	object-fit:cover;
	object-position:100% 75%;
	left:10px;
	margin:-10px;
	width:100px;
	height:70px;
}
#updates{
	border:3px solid whitesmoke;
	padding:20px;
	height:100px;
	overflow-y:scroll;
}
.dateEntry{
	color:whitesmoke;
	text-transform:lowercase;
	margin:0px;
}
#motm{
	display:block;
	margin:auto;
	width:300px;
}
#chattable{
	width:100%;
	height:390px;
	border:none;
}
#counter{
	text-align:center;
}
.container{
	display:grid;
	grid-template-columns:1fr 4fr;
	border:3px solid whitesmoke;
	border-radius:10px;
}
#typhnol{
	width:190px;
	height:250px;
	object-fit:cover;
	object-position:50% 100%;
	margin:auto;
	grid-column:1/2;
	margin:20px;
}
#aboutcontent{
	grid-column:2/3;
	padding:10px;
}
#lasttrack{
	display:grid;
	grid-template-columns:100px auto;
	grid-template-rows: auto;
}
#albumcover{
	grid-column:1/2;
}
#lasttrack p{
	margin:5px 15px;
}
#details{
	color:whitesmoke;
	grid-column:2/3;
}
#songname{
	font-size:25px;
}
#listcontainer{
	display:grid;
	grid-template-columns:1fr 1fr;
}
ul {
  color:whitesmoke;
  font-size:20px;
  margin:5px auto;
  list-style-image:url('resources/karma10icon.png');
}
li span{
	display:inline-block;
	vertical-align:middle;
	margin-bottom:8px;
}
.artimg{
	display:inline-block;
	vertical-align:top;
	margin:8px 5px;
	width:300px;
}
#ghost {
  width: 120px;
  margin-left: -60px;
}
#spamton {
  width: 50px;
  margin-left: 10%;
  cursor: pointer;
}
#baba {
  width: 400px;
}
#mewo {
  width: 60px;
  margin-left: 40%;
  cursor: grab;
}
#scug {
  margin-left: 30%;
}
#ori {
  width: 80px;
  margin-left: 10%;
  cursor: pointer;
}
a{
	color:red;
	text-decoration:none;
}
a:hover{
	color:darkred;
}
.upper{
	text-transform:uppercase;
}
.default{
	color:whitesmoke;
	text-transform:lowercase;
}

@media screen and (max-width: 727px){
	.container{
		grid-template-columns:auto;
		grid-template-rows: auto auto;
	}
	#typhnol{
		width:250px;
		height:250px;
		margin:auto;
		object-fit:contain;
		grid-column:1/2;
		grid-row:1/2;
	}
	#aboutcontent{
		grid-column:1/2;
		grid-row:2/3;
		text-align:center;
	}
	#lasttrack{
		justify-content:center;
	}
}
@media screen and (max-width: 620px){
	#listcontainer{
		grid-template-columns:auto;
		grid-template-rows:auto auto;
	}
	#baba{
		max-width:400px;
		width:100%;
	}
}