---
layout: default
---
<head>
	<link rel="stylesheet" href="style.css">
	<script src="sfx.js" defer></script>
	<script>
		function delay (URL) {
				setTimeout( function() { window.location = URL }, 200 );
		}
	</script>
</head>
<div class="wholething">
	<!-- one massive shit hole -->
	<div class="titlenav">
		<header>
			<h1><img class="title" src="resources/title.gif" alt="Typhnol"></h1>
		</header>
		<nav>
			<a href="javascript:delay('/home.html')" class="navlink lower" id="homelink">Home</a>
			<a href="javascript:delay('/about.html')" class="navlink lower" id="aboutlink">About</a>
			<a href="javascript:delay('/art.html')" class="navlink lower" id="artlink">Art</a>
			<a href="javascript:delay('/blog.html')" class="navlink lower" id="bloglink">Blog</a>
		</nav>
	</div>
	<section>
		<h2>{{ site.title }}</h2>
		<div class="bloglistcontainer">
			<ul class="bloglist">
			  {% for post in site.posts %}
				<li class="bloglistitem">
				  <a href="{{ post.url }}">{{ post.title }}</a>
				  <span>{{ post.date | date: "%b %-d, %Y" }}</span>
				</li>
			  {% endfor %}
			</ul>
		</div>
	</section>
	<footer>
		<p class="footer">Since 2024-typhnol</p>
	</footer>
	<audio id="music" controls loop>
			<source src="https://file.garden/Zlk30agh4hF11eOU/doodling.mp3" type="audio/mp3">
		</audio>
		<script>
			const music = document.getElementById("music");
			music.volume = 0.5;

			function setCookie(c_name,value,exdays)
			{
				var exdate=new Date();
				exdate.setDate(exdate.getDate() + exdays);
				var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
				document.cookie=c_name + "=" + c_value;
			}

			function getCookie(c_name)
			{
				var i,x,y,ARRcookies=document.cookie.split(";");
				for (i=0;i<ARRcookies.length;i++)
				{
				x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
				y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
				x=x.replace(/^\s+|\s+$/g,"");
				if (x==c_name)
					{
					return unescape(y);
					}
				}
			}

			var song = document.getElementsByTagName('audio')[0];
			var played = false;
			var tillPlayed = getCookie('timePlayed');
			function update()
			{
				if(!played){
					if(tillPlayed){
					song.currentTime = tillPlayed;
					song.play();
					played = true;
					}
					else {
							song.play();
							played = true;
					}
				}

				else {
				setCookie('timePlayed', song.currentTime);
				}
			}
			setInterval(update,1000);
		</script>
</div>