---
layout: default
---
<head>
	<link rel="stylesheet" href="/style.css">
	<script src="/sfx.js" defer></script>
	<script>
		function delay (URL) {
				setTimeout( function() { window.location = URL }, 200 );
		}
	</script>
</head>
<div class="wholething">
	<div class="titlenav">
		<nav>
			<a href="javascript:delay('/blog.html')" class="navlink lower" id="bloglink">Back</a>
		</nav>
	</div>
	<section>
		<div class="blogpost">
			<h1>{{ page.title }}</h1>
			<br>
			{{ content }}
		</div>
	</section>
	<footer>
		<p class="footer">Since 2024-typhnol</p>
	</footer>
	<audio id="music" controls loop>
		<source src="https://file.garden/Zlk30agh4hF11eOU/doodling.mp3" type="audio/mp3">
	</audio>
	<script>
		const music = document.getElementById("music");
		music.volume = 0.5;

		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			document.cookie=c_name + "=" + c_value;
		}

		function getCookie(c_name)
		{
			var i,x,y,ARRcookies=document.cookie.split(";");
			for (i=0;i<ARRcookies.length;i++)
			{
			x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
			y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
			x=x.replace(/^\s+|\s+$/g,"");
			if (x==c_name)
				{
				return unescape(y);
				}
			}
		}

		var song = document.getElementsByTagName('audio')[0];
		var played = false;
		var tillPlayed = getCookie('timePlayed');
		function update()
		{
			if(!played){
				if(tillPlayed){
				song.currentTime = tillPlayed;
				song.play();
				played = true;
				}
				else {
						song.play();
						played = true;
				}
			}

			else {
			setCookie('timePlayed', song.currentTime);
			}
		}
		setInterval(update, 500);
	</script>
</div>